[2015-10-02 13:03] martingg88 opened #1 "responsive layout"
does it work for responsive layout?

[2015-10-03 14:24] martingg88 opened #2 "issue of center active image in container."
it doesn't center active image if you have more than 28 images in container. any idea how to solve this?

[2015-10-06 12:38] andyyou commented on #1
Sorry for now you have to set with from outside

[2015-10-06 12:57] andyyou commented on #2
@martingg88  Thanks for provide issues and sorry for reply late. I will figure out other way to deal this problem.

[2015-10-06 13:03] andyyou commented on #2
When I develop this component I only think keep things simple so your images need to be odd number for now

[2015-10-07 01:10] andyyou commented on #1
@martingg88 You can use [react-responsive](https://github.com/contra/react-responsive) to custom your requirement.

For example

[code]

[2015-10-07 01:21] andyyou commented on #2
@martingg88 please try v0.1.3

[2015-10-07 08:39] martingg88 commented on #2
i try to add fake dom to make even stay in odd number.

[2015-10-07 08:41] martingg88 commented on #1
thanks

[2015-10-08 01:04] andyyou commented on #2
@martingg88 It's no longer need to do that, I add offset variable to deal with that even or odd number

[2015-10-08 01:06] #1 closed

[2015-10-08 03:43] martingg88 commented on #2
ok. thanks for your effort.

[2015-10-08 05:05] martingg88 commented on #2
i don't the offset will work in smaller screen like 320 and 480 width.

[2015-10-09 04:03] andyyou commented on #2
ok I will figure out the problem

[2015-10-09 04:27] andyyou commented on #2
@martingg88  ![](http://i.imgur.com/z5yAalQ.png) I am test your problem is not problem could your provide demo example

[2015-10-09 11:14] andyyou commented on #2
@martingg88 I already add responsive example and items of even number. You can see [demo](http://andyyou.github.io/react-coverflow/)

[2015-10-09 11:17] martingg88 commented on #2
thanks. will try it again.

[2015-10-11 01:23] #2 closed

[2016-03-19 02:20] devinholloway opened #3 "Option to start at beginning"
When the coverflow initially renders, it starts somewhere in the middle of the images. It would be nice specify an option to start at the beginning of the images.

[2016-03-19 02:28] devinholloway opened #4 "Switching out photos doesn't reset scroll position"
I use a button bar to swap out and load a different set of images into the cover flow. For example, if the coverflow is currently scrolled to the 20th image, and then I load in a different set of images, it remains on the 20th image.  The new set of images may have less than 20, which puts the component in a weird state.

Essentially, if a new set of images is swapped in, it should reset the scrol

[2016-03-25 16:43] myk5000 opened #5 "Toggle for scroll input"
Need to be able to turn off the mouse scroll listener for the carousel.

[2016-05-03 10:37] nd888915 opened #6 "react version 0.15.1 tips Only a ReactOwner can have refs.'"
when I delete node_modules/react-coverflow/react and react-dom files ,it works

[2016-05-04 03:15] Yyunfan commented on #6
yeah, the same as you

[2016-06-17 20:58] xinghul opened #7 "Please, use peerDependencies instead of dependencies"
Since this is a react component, it's more like a plugin, so please use peerDependencies.

You don't want to introduce extra copies of node modules, especially with react. Multiple copies of React will result in: https://gist.github.com/jimfb/4faa6cbfb1ef476bd105

[2016-06-17 20:59] xinghul commented on #6
This is caused by multiple copies of React

[2016-06-19 13:10] ankitduseja commented on #6
+1

[2016-06-19 13:21] ankitduseja opened #8 "Get/Set Centered/Active Child"
Is there any way to get/set the active/center child number or key?

Setting could be done using a prop which take number/key of the child to be activated/centered. Whereas for getting the active child, a function like onActiveChildChange could be made and param passes the details of the active child.

[2016-06-19 14:12] ankitduseja opened #9 "Replace url with onclick action"
There could be use cases where not everyone needs to open a url on cover click. A better approach would be to make it customisable action function, so that we can do anything we want with it.

[2016-06-20 01:31] Yyunfan commented on #6
well done，we solve it，thx @xinghul

[2016-06-27 16:12] amiral84 opened #10 "Error: The style-loader cannot be used in a non-browser environment"
I have installed coverflow and I have MERN stack in use. I get following error whenever I want to start my project by using `npm start`:

`Error: The style-loader cannot be used in a non-browser environment`

What's the reason for that issue and how I can solve it? I have been searching on internet but still didn't found any working solution. #

[2016-07-05 09:29] battuashwik commented on #10
Any update on this. Having the same issue.

[2016-08-19 00:49] andyyou commented on #10
Sorry for that I focus on working and change to vue.js currently so have no time to update.
But I will attempt to fix problem

[2016-09-10 08:44] #6 closed

[2016-09-13 05:27] andyyou commented on #9
Good idea

[2016-09-13 05:45] andyyou commented on #9
I will use `data-action` to replace `data-url` next version

[2016-09-13 08:08] andyyou commented on #7
Thanks ur information

[2016-09-13 08:11] andyyou commented on #5
`enableScroll` is not you need?

[2016-09-13 09:14] #9 closed

[2016-09-13 09:16] andyyou commented on #8
v0.2.0 I add `active` attribute but seems I leave React a while so I forgot a lot of things I need time to figure out how is the better way to get child for your suggestion

[2016-09-13 09:16] #7 closed

[2016-09-13 09:18] andyyou commented on #3
I add `active` attr in v0.2.0 you can use this ability

[2016-09-13 09:18] #3 closed

[2016-09-19 18:48] ahmedlhanafy opened #11 "Changing active prop doesn't reflect in the UI"
So my scenario is I set active prop to some state and changing this state variable doesn't reflect in the UI

[2016-09-22 09:11] andyyou commented on #11
I forgot to handle `componentWillReceiveProps` so that I fixed this issue

[2016-09-22 09:11] #11 closed

[2016-09-22 17:06] ahmedlhanafy commented on #11
@andyyou Is it fixed in NPM now?

[2016-09-23 03:07] andyyou commented on #11
Yap you can see new example page at the bottom and the version is 0.2.2

[2016-09-25 20:56] ahmedlhanafy opened #13 "Disabled prop"
I think one important prop that is missing is disabled and it can be done easily by changing only the pointer-events to none when this prop is true

[2016-09-28 04:50] andyyou commented on #13
@ahmedlhanafy You mean disable click ability of image?

[2016-09-28 10:34] ahmedlhanafy commented on #13
Yes i may want to disable user from changing the covers @andyyou

[2016-09-29 00:52] andyyou commented on #13
@ahmedlhanafy  Do you need disable for each image or just turn off all click feature of image.
BTW Thanks ur pr I merged.

[2016-09-29 01:21] ahmedlhanafy commented on #13
No I want to disable clicking the whole thing @andyyou

[2016-09-29 01:36] andyyou commented on #13
OK I got it

[2016-09-29 02:28] andyyou commented on #13
@ahmedlhanafy You can use `clickable` props now on v0.2.3

[2016-09-29 06:36] roth1002 opened #14 "install react problem"
when I run below

[code]

I always got

[code]

and

[code]

Seems like reactjs version conflict between react-tap-event-plugin@0.2.2 and this project

[2016-09-30 00:45] #13 closed

[2016-09-30 12:25] ahmedlhanafy commented on #13
@andyyou Thanks man

[2016-10-01 02:38] andyyou commented on #14
@roth1002 you mean you clone this project and excute `npm i`?

[2016-10-05 16:47] ahmedlhanafy commented on #13
@andyyou This doesn't work man, have you tested it?

[2016-10-05 21:19] ahmedlhanafy opened #15 "Problem when selecting a figure the coverflow is stuck"
There is something weird happening with me, selecting any figure works just fine except selecting the first one.
I took a look at the code that does the selection, I think you forgot to call`this._removePointerEvents();` at some point. check the links below. @andyyou
[Link 1](https://github.com/andyyou/react-coverflow/blob/master/src/Coverflow.js#L196)
[Link2](https://github.com/andyyou/react-cove

[2016-10-06 00:35] andyyou commented on #15
Could you send a pr.

[2016-10-06 00:41] andyyou commented on #15
@ahmedlhanafy I am not quite understand the problem. Is this problem happen on demo site too?

[2016-10-25 04:20] devinholloway opened #16 "Invariant Violation"
Decided to give the new version a try. Using the same github code example, when I run the example I get:

Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components).

Uncaught Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (fo

[2016-10-25 04:39] devinholloway commented on #16
Nevermind. It was my problem. You can close this. Thanks!

[2016-10-25 19:58] Natasha08 commented on #16
@devinholloway, can you share how you fixed your issue, because I am getting the same error message.

[2016-10-25 20:29] devinholloway commented on #16
Sure. In my case, it was a lack of React knowledge. I was trying to pass <img> elements in string form (surrounded by quotes), rather than the actual <img> objects themselves. For example:

var photos = gallery.map(function(photo {
   return '<img src="' + photo.url + '"/>';
}));
<Coverflow ...>
  {photos}
</Coverflow/>

I had to get rid of those single quotes around the <img> elements.

[2016-10-27 20:40] devinholloway opened #17 "Using different sized images?"
Is there any easy way load images of a different size? I've noticed that if I specify a 'height' on the HTML img elements, it does increase the height. However, specifying 'width' on the images has no affect. It appears that in order to make the images wider, you have to make the coverflow component wider

[2016-10-30 13:21] #16 closed

[2016-11-25 08:46] jonashartwig opened #18 "package dependency issue"
Hi, I installed the latest version 0.2.3 of coverflow. Unfortunately something goes wrong. I see the dependencies in the source are correct. But installing it gives me this error:

├─┬ react-coverflow@0.2.3
│ ├─┬ radium@0.18.1
│ │ ├── array-find@1.0.0
│ │ ├── exenv@1.2.1
│ │ └─┬ inline-style-prefixer@1.0.4
│ │   └── inline-style-prefix-all@2.0.2
│ ├── UNMET PEER DEPENDENCY react@^0.14.0
│ └─┬ reac

[2016-12-16 11:09] sajumani commented on #15
When i render Item,   with loop, the grid are not clickable... even it was not active that i fixed with Timeout event but still not clickable... please help me out

<Coverflow className="cover-cnt" height={280} displayQuantityOfSide={3} navigation={true} enableHeading={false} enableScroll={true} active={this.state.active}>

{loop}
</Coverflow>

[2016-12-17 03:12] #18 closed

[2016-12-17 03:12] andyyou commented on #15
Do you mean loop for `<img>` tags inside component?

[2016-12-17 03:17] sajumani commented on #15
const girdImg = this.props.images.length > 0 ? <Coverflow /> : '';

After this works fine, i fixed ... thanks for your reply

[2016-12-17 10:30] andyyou commented on #15
Sorry for that because I migrate to Vue so I have no subscription of this project and follow React since v0.14

[2016-12-21 11:01] sajumani opened #20 "onclick action working only for active item"
Hi,

Can you make the onclick action works for all the items( Not only Active / Current item).

If  you fixed this, it going to be great support.

[2016-12-21 11:04] sajumani commented on #20
Quick fix:    onClick={this.action}   removed data-action={this.action}

[2016-12-21 11:04] #20 closed

[2016-12-23 11:53] hkchiang opened #21 "Some error about updateDimensions function"
When using the  coverflow component as content in the panel component, and resize my Chrome Browser , it will show error as follows

Uncaught Error: findDOMNode was called on an unmounted component.
    at invariant (react-with-addons.js:20277)
    at Object.findDOMNode (react-with-addons.js:17766)
    at Coverflow.updateDimensions (Coverflow.js:120)
    at Coverflow.eval (makeAssimilatePrototype.

[2017-01-17 12:46] Jaikant opened #22 "Universal/Isomorphic app support."
I am building an app with server side rendering. How to make this component support, I am using react-starter-kit which injects css on the server.

This is the error I got:
Error: The style-loader cannot be used in a non-browser environment

[2017-04-14 08:51] Startouf opened #24 "Content with links become unclickable"
I have a coverflow with nested React components (a clickable `<a>` card that is supposed to redirect somewhere else)

The coverflow makes the elements scrollable, but once I have the main "cover" in the central view, I'd like to be able to click on it.

[code]

Currently the link is still there but not clickable/ won't change the page

[2017-04-14 11:20] Startouf opened #25 "Ability to change scaled values"
Currently the component scales the main image to 1.2, this is causing blur on the rendered HTML and it looks totally bad for my display.

Ideally we should be able to set the scaling factor of the main image VS side images

[2017-04-18 08:22] Startouf opened #27 "Ability to scroll page after scrolling of covers is complete"
I have a specific use case where my coverflow takes a quite big portion of the view, and prevents the user from scrolling the page.
Ideally I'd like to be able to scroll the page after scrolling all the covers

[2017-06-16 13:36] cooganb opened #30 "ES6 Updates?"
Hi team! First, thanks so much for this product. I'm working with it now and it's making my react super UI pretty.

I installed version 0.2.3 from npm and I'm getting deprecation warnings in my browser concerning the use of React.createclass. The more recent use cases on here seem to show you all are using Javascript classic cases now, have you thought about updating the npm package? I'd be happy

[2017-06-29 12:35] themillhousegroup opened #31 "Updating the `active` prop to 0 does not update the UI"
This can be observed on the "Support set active outside" demo on the documentation page.

If you click "Click to Radom" (sic) enough times, eventually you will experience the carousel NOT changing. You'll also notice that the demo NEVER lands on the first cover in the collection (the first Adele image).

This is because the random number generator has produced the value `0` and the code in functio

[2017-07-03 13:36] manodupont opened #33 "Does this work properly with trackpad ?"
I m having quite a bad user experience using scroll with trackpad on my macbook pro. Is it supported ?

Its like its scrolling from beginning to end, no matter in what direction i scroll.

[2017-07-03 13:47] manodupont opened #34 "Impossible to create covers dynamically..."
Anyone ever created dynamically their covers ?

let's say something like this

[code]

I always end up with some errors in console.
<img width="1273" alt="screen shot 2017-07-03 at 09 43 59" src="https://user-images.githubusercontent.com/7568033/27795542-8df69c26-5fd4-11e7-8e5e-8a1e2d8bf952.png">

SO you see my two images are created as Page 0 and Page 1 seems to go through, but always end with a

[2017-07-04 00:07] themillhousegroup commented on #34
I found that I while I didn't get errors like yours, the component wouldn't redraw itself properly if the number of covers (aka children) changed.

I've ended up forking this project to fix that: [](https://github.com/themillhousegroup/react-coverflow) - I will create PRs here but I'm not sure this project is really active any more. You can install my fork with npm - check the README in my fork.

[2017-10-30 00:45] alexpmorris opened #35 "undefined property going into radium module - related to missing stylesheet?"
I keep getting the following error, and I just can't seem to figure out what's causing it.

[code]

It seems to be related to a missing stylesheet or something, but according to the README, it seems everything should be included (also made sure `css-module` was installed too).

For reference, this is my render() *(also tried with/without StyleRoot, media, etc)*:
[code]
Any assistance or guidance w

[2017-11-19 04:03] Asalem1 commented on #35
@alexpmorris I'm getting the same thing. Any luck? What version of React are you using?

[2017-11-20 18:25] alexpmorris commented on #35
I ended up going another way, but I'm pretty sure it's some incompatibility with the radium library versus the latest version of react v16 versus v15.3 that the project is using, since I was able to get the standalone project up and running fine under the older react version via this repo.

[2017-11-21 16:32] Asalem1 commented on #35
Same. I'll try and work on updating it soon and make a pull request. No point in letting this issue make it completely useless.

[2018-01-13 00:28] alialsaeedi19 opened #36 "TypeError: Cannot read property 'object' of undefined"
I always get this error : TypeError: Cannot read property 'object' of undefined
even if you try it here https://npm.runkit.com/react-coverflow   and press Run  you will get the same error

any help please

[2018-02-22 18:41] #25 closed

[2018-02-22 21:17] Asalem1 commented on #30
Hey @cooganb, I'm looking to have an updated version up and running this week. Thanks for the heads up

[2018-02-22 21:19] Asalem1 commented on #14
@roth1002 I'm currently working on updating the dependencies, I'll let you know when it's up and running

[2018-02-23 22:18] Asalem1 commented on #30
@cooganb v0.2.5 should resolve the issues. LMK if you encounter any problems

[2018-02-23 22:18] #30 closed

[2018-02-23 22:18] Asalem1 commented on #35
@alexpmorris v0.2.5 should resolve the issues. LMK if you encounter any problems

[2018-02-23 22:18] #35 closed

[2018-02-23 22:20] Asalem1 commented on #14
@roth1002  v0.2.5 should resolve the issues. LMK if you encounter any problems

[2018-02-23 22:20] #14 closed

[2018-02-23 22:21] Asalem1 commented on #10
@amilajack & @battuashwik - try pulling the newest branch and LMK if it works. I've just updated the packages and removed some of the deprecated packages.

[2018-02-24 13:27] Asalem1 commented on #34
@manodupont I'll take a look at this issue sometime this week - my apologies - I've only recently taken over this repo but it is once again being supported

[2018-02-24 13:30] Asalem1 commented on #34
@manodupont seems to be related to [#16](https://github.com/andyyou/react-coverflow/issues/16)

[2018-02-24 13:30] #34 closed

[2018-02-24 14:25] #24 closed

[2018-02-27 18:03] Asalem1 commented on #4
Hey @devinholloway, could you give me an example of how you're swapping out the sets of images? One solution to this may be setting the state back to 0 when you swap out the image sets, not sure if this functionality needs to be built in

[2018-02-27 18:17] Asalem1 commented on #5
@myk5000 enableScroll should resolve this issue.

[2018-02-27 18:17] #5 closed

[2018-02-27 18:18] Asalem1 commented on #8
@ankitduseja the `active` property should be able to handle this.

[2018-02-27 18:18] #8 closed

[2018-02-27 18:37] Asalem1 commented on #15
Resolved with PR #32

[2018-02-27 18:38] Asalem1 commented on #15
Resolved #32

[2018-02-27 18:38] #15 closed

[2018-02-27 18:55] Asalem1 commented on #17
@devinholloway I'll take a look at this

[2018-02-27 18:57] Asalem1 commented on #21
Hi @hkchiang, could you please pull the most recent branch and let me know if the error persists. I can't seem to recreate it on my end

[2018-02-27 18:57] #21 closed

[2018-02-27 18:58] Asalem1 commented on #22
Hi @Jaikant, style-loader has been removed from the most recent version so the error should no longer be appearing

[2018-02-27 18:58] #22 closed

[2018-02-27 18:59] #31 closed

[2018-02-27 19:03] Asalem1 commented on #36
@alialsaeedi19 can you pull the most recent branch and let me know if you're still receiving this error?

[2018-03-05 03:30] #10 closed

[2018-03-05 03:31] Asalem1 commented on #27
Resolved #29

[2018-03-05 03:31] #27 closed

[2018-03-05 03:34] Asalem1 commented on #33
@manodupont this is currently not optimized for trackpads, however, I'll take a look at the possibility of integrating it into a future version

[2018-03-05 03:35] Asalem1 commented on #36
resolved with v 0.2.7

[2018-03-05 03:35] #36 closed

[2018-03-14 03:05] darrylsepeda opened #37 "Got error Uncaught TypeError: Cannot read property 'removeEventListener' of undefined"
[code]

I have 2 questions:

1. I got error when move from page that has react-coverflow to other page that has no react-coverflow, react-coverflow can't find `this.refs[figureID]`
Is it okay to add preventif code to check whether `this.refs[figureID]` is exist or not? or anyone has any other way of how to avoid this error?

2. I have set navigation true, the button appeared but it becomes clickab

[2018-03-15 06:46] darrylsepeda opened #38 "is there any attribute like autoPlay?"
In react-slick there is an attribute to automatically play the slideshow like `autoplay` and `autoplayspeed`. So is there any attribute like this?

[2018-03-19 23:20] Asalem1 commented on #37
Hey @darrylsepeda, that's interesting. I'll take a look at this and let you know.

1. It seems like the lifecycle event might be triggering the warning before the switch (i.e. the component is unmounting, but returns an error since the event listener targets no longer persist one the DOM).

2. I'm not sure why the button would be disabled until the user has scrolled, I'll try and recreate the bug

[2018-03-19 23:22] Asalem1 commented on #38
@darrylsepeda there currently isn't but that seems like it could be a pretty nice feature to implement. I can try and add that on but feel free to submit a PR if you'd like.

[2018-03-19 23:22] #38 closed

[2018-03-25 16:27] fenos opened #39 "Issue with Server Side Rendering - react-coverflow"
Hi, thanks for the library!

I'm having an issue loading the `react-coverflow` package into my server side bundle.

When importing `react-coverflow`, webpack compile the server bundle fine.

However, my node server throws the following exception, prior starting:

[code]

Which points me to this line of the `dist/react-coverflow.js` file.

[code]

Example Usage In my code base:
[code]

Is there som

[2018-03-26 19:15] Asalem1 commented on #39
Hey @fenos, thanks for the super detailed issue! I'll take a look at the possibility of converting React-Coverflow to make sure it is compatible with server-side rendering. I'll let you know when I've made a PR and it's ready to go.

[2018-03-28 17:50] Asalem1 commented on #39
@fenos I see. I'll work on it today and get back to you. Thanks for being so patient

[2018-03-28 20:16] Asalem1 commented on #39
@fenos I'd recommend pulling the most recent version (https://github.com/andyyou/react-coverflow/commit/e2c17f1659d82dbfc677301dc39a39ead0017fd4). I added a conditional statement for rendering the window commands so let me know if it works or not.

[2018-03-28 20:16] #37 closed

[2018-04-01 19:20] phillipkerman opened #40 "resize listener produces error if component is unmounted/remounted"
Issue:
I'm getting an error when I resize (if the component is unmounted/remounted):
`Uncaught Error: Unable to find node on an unmounted component.
    at invariant (invariant.js:42)
    at findCurrentFiberUsingSlowPath (react-dom.development.js:3552)
    at findCurrentHostFiber (react-dom.development.js:3621)
    at Object.findHostInstance (react-dom.development.js:12611)
    at Object.findDOMNo

[2018-04-02 16:54] Asalem1 commented on #40
Hey Phil, I believe this is related to #37 - TLDR is that componentWillUnmount is triggered before componentWillMount (this is inherent within React https://github.com/facebook/react/issues/11106). I'm going to delve into the repo this week to see if there's a way of refactoring Coverflow so that it is independent of the window and these particular lifecycle events. I'll let you know when it's all

[2018-04-02 19:56] Asalem1 commented on #39
Removed references to document & window in most recent commit, should fix SSR issues (https://github.com/andyyou/react-coverflow/commit/62085c9e6b7dcc00594ce99b34be5e45465cc9c6)

[2018-04-02 19:56] #39 closed

[2018-04-02 19:56] Asalem1 commented on #40
Most recent version temporarily removes reference to resizing (https://github.com/andyyou/react-coverflow/commit/62085c9e6b7dcc00594ce99b34be5e45465cc9c6)

[2018-04-02 19:56] #40 closed

[2018-04-02 21:00] Asalem1 commented on #4
This functionality shouldn't exist within the plugin. A feasible solution for your implementation would be to simply set the active prop to 0 upon loading a different set of images.

[2018-04-02 21:00] #4 closed

[2018-04-02 21:06] Asalem1 commented on #17
Fixed with most recent push https://github.com/andyyou/react-coverflow/commit/81626974e293712cf6eed429ad1e7be5189dacf2

[2018-04-02 21:06] #17 closed

[2018-05-15 18:18] gnaryak opened #42 "Clicking an item in Coverflow generates error"
[code]

I created PR 41 to fix this.
https://github.com/andyyou/react-coverflow/pull/41

[2018-05-25 17:10] Asalem1 commented on #42
Hey @gnaryak , sorry for the delay. Thanks for sending this through. I'll take a look

[2018-05-25 17:12] #42 closed

[2018-07-11 03:33] Azayzel opened #43 "Mobile Images Not Displaying"
When I resize for mobile,the ```<figure>``` element gets a generated width of 79.4px. This causes the image to hide and only show the text. Is there an option I missed to override that? Thanks! BTW, Beautiful work!

[2018-07-11 03:52] #43 closed

[2018-07-11 03:52] Azayzel commented on #43
I overwrote the styling with media queries instead. Thanks!

[2018-07-13 13:03] Pipoupi commented on #42
HI,
Thanks for your job.
Issue is still there.
Here's my code :

[code]

`fn = (index) => {
        this.setState({active: index});
    }`

And the issue :
![issue_coverflow](https://user-images.githubusercontent.com/6475852/42692946-b68700bc-86ad-11e8-97ff-695a2b104da7.png)

[2018-07-23 17:00] jculloty opened #44 "Unable to click on figures"
The NPM version is out of sync with the github version. NPM is 4 months old and missing f386a14fa521c2a741c491dc which fixed the issue.

Note: cloning the project from github and rebuilding "prepublishOnly" fixes the issue.

[2018-07-23 17:05] jculloty opened #45 "Sliding only works on the first click."
The first image clicked will slide to the centre; after that clicking on an image has no effect.
Removing this code

// this.refs.stage.style['pointerEvents'] = 'none';

 from lime 247 appears to solve the problem.

[2018-07-23 22:01] Asalem1 commented on #44
Hey @jculloty , thanks for the heads up. I'll take a look at this

[2018-07-23 22:01] Asalem1 commented on #45
Hey @jculloty , thanks for brining this issue up. I'll take a look at this.

[2018-08-22 20:44] Asalem1 commented on #45
Quick update on these tickets. I came across some dependency issues when I ran it locally, so I'm going to be updating the repo in order to get everything up to date. I'll keep you updated on the state of affairs going forward

[2018-08-26 17:05] SuhasPai3799 opened #46 "Works only when in focus"
Is there anyway to have the carousel work even when not in focus?

[2018-09-17 16:59] Asalem1 commented on #46
@SuhasPai3799, what do you mean by that? Could you please provide me with an example?

[2018-09-19 12:01] eled30 opened #47 "Error after npm install: react-coverflow doesn't work"
Hello,
I have installed your plugin in my react application with npm install, but it gives this error:
![image](https://user-images.githubusercontent.com/33835622/45751905-16a3c700-bc14-11e8-9644-f529b1cfcecc.png)

I have copied the first example code exactly . What can be the problem?
Thank you very much

[2018-09-24 21:08] Asalem1 commented on #47
Hi @eled30 , I'm working on getting the repo updated. I'll let you know when it's up and running and get back to you.

[2018-09-24 21:14] Asalem1 commented on #47
Hey @eled30, thanks for bringing this to my attention. It appears as though react-tap-event-plugin will not work with React versions after 16.4.0

https://github.com/zilverline/react-tap-event-plugin/issues/121.

I'm currently working on updating the package so I'll make sure to remove the package from the upcoming version.

[2018-09-24 21:14] #47 closed

[2018-09-25 04:01] Asalem1 commented on #44
@jculloty, thanks for your patience. I’ve managed to update the dependencies which should resolve the issue. Let me know if it persists

[2018-09-25 04:01] #44 closed

[2018-09-25 08:10] mattes3 opened #48 "Crash with hot loading react"
Hi,

thanks for Coverflow. I am trying to make it work, but it crashes with the following error messages.

What can I do?

Best...
Matthias

---------
[code]

[2018-09-25 14:06] Asalem1 commented on #48
Hey @mattes3, this looks like it's related to the most recent version. Let me make a quick change that should help resolve the issue.

[2018-09-25 14:09] Asalem1 commented on #45
Fixed with newest release

[2018-09-25 14:09] #45 closed

[2018-09-25 14:17] Asalem1 commented on #48
@mattes3 , this should be resolved in the most recent PR:

https://github.com/andyyou/react-coverflow/commit/f7f4197f83abf2f240593471559908cda11fc5d8

Let me know if you are still encountering issues.

[2018-09-25 14:17] #48 closed

[2018-09-25 14:17] Asalem1 commented on #46
@SuhasPai3799 , did you mean to ask if it's possible to use a setTimeout in order to move the carousel without any user interaction?

[2018-09-26 16:09] mattes3 commented on #46
Get a ref to the container div and call container.focus() on that ref so that the keyboard events really come through:

componentDidMount() {
        this.updateDimensions();
...
        // set the focus on the container so that keyboard events will come through
        setTimeout(
            () => {
                if (this.myRefs.container) {
                    this.myRefs.container.focus();

[2018-09-27 05:12] dmiepub opened #49 "WebpackError: window is not defined on production netlify"
Suggest, how to resolve it?

8:09:54 PM:   2 | /*!*************************************************************!*\
8:09:54 PM:   3 |   !*** ./node_modules/babel-runtime/core-js/object/assign.js ***!
8:09:54 PM:   4 |   \*************************************************************/
8:09:54 PM:
8:09:54 PM:   WebpackError: window is not defined
8:09:54 PM:
8:09:54 PM:   - react-coverflow.js:1 Object

[2018-09-27 05:57] dmiepub commented on #49
Is there any solution of this issue?

[2018-09-27 10:59] dmiepub commented on #49
const reactCoverFlow = () => {
  if (typeof window != "undefined") {
    const CoverFlow = require('react-coverflow');
    return (
      <CoverFlow
           ...
           ...
           ...
           ...

            <img src='' />
            <img src='' />
            <img src='' />
            <img src='' />
            <img src='' />
      </CoverFLow>
    );
  } else {
    return null;

[2018-09-27 11:00] #49 closed

[2018-10-06 00:19] Asalem1 commented on #46
Thanks @mattes3 !

[2018-10-06 00:19] #46 closed

[2018-10-09 11:12] AbhilashDawar opened #50 "multiple copies of react"
React is listed as dependency and is creating an issue when it i being used.
Error Details:
![image](https://user-images.githubusercontent.com/25852222/46665458-85f05380-cbe1-11e8-8908-a5be97a99b11.png)

When searched, I found out that there are multiple versions of react in the the project folder.
![image](https://user-images.githubusercontent.com/25852222/46665590-f0a18f00-cbe1-11e8-9be2-842ba52

[2018-10-10 14:05] Asalem1 commented on #50
Thanks for sending this through @AbhilashDawar, feel free to submit a PR and I'll take a look at it if you'd like

[2018-10-10 14:54] Arrow7000 opened #51 "TypeScript definitions"
It would be really useful to have TypeScript definitions for this package so that it can be used in TypeScript projects safely.

[2018-10-10 19:07] Asalem1 commented on #51
@Arrow7000 , I'd be happy to accept a PR with TS definitions if you're keen on submitting a PR :)

[2018-10-20 15:07] oyeanuj commented on #39
@Asalem1 I'm still seeing the same issue as well..

@fenos what was your solution?

[2018-10-25 14:31] Asalem1 commented on #50
Fixed with latest PR:

https://github.com/andyyou/react-coverflow/commit/becd13c02025ac7ecbebc3562211d114cbcbc6e0

[2018-10-25 14:31] #50 closed

[2018-12-16 12:43] Stas-Buzunko opened #53 "lib size is enormous 1.07Mb"
I'm sorry if it's me doing something wrong (but i doubt it)
But bundle size is huge due to react-coverflow size.
<img width="1440" alt="screenshot 2018-12-16 at 14 39 59" src="https://user-images.githubusercontent.com/12331100/50053596-bb18a500-0140-11e9-9f9e-1342570153d3.png">

[2018-12-20 15:32] Asalem1 commented on #53
Yikes, that is entirely too massive @Stas-Buzunko, I'll take a look at ways to reduce it's size ASAP. Thanks for bringing it to my attention

[2018-12-21 07:00] Johnny00520 opened #54 "TypeError: Cannot read property 'originalSource' of undefined"
Not sure why this is happening when I put <Coverflow /> down

TypeError: Cannot read property 'originalSource' of undefined
[1]     at getSourceById (/Users/user/Dropbox/CSCI4308SeniorProj/fmngreen/Server/client/node_modules/react-dev-utils/evalSourceMapMiddleware.js:18:17)
[1]     at handleWebpackInternalMiddleware (/Users/user/Dropbox/CSCI4308SeniorProj/fmngreen/Server/client/node_modules/react-

[2019-01-04 06:16] adityatandon007 opened #55 "While resizing the window screen react-coverflow throws an Uncaught Error"
Uncaught Error: findDOMNode was called on an unmounted component.
    at invariant (invariant.js:42)
    at Object.findDOMNode (findDOMNode.js:51)
    at ProxyComponent.updateDimensions (Coverflow.js?2a0d:121)

[2019-01-04 16:15] wzard commented on #53
Hi @Asalem1 , any updates on this one.

[2019-01-06 16:32] Eesssn opened #56 "set background with centered image"
i want to set main container background with image that shown in center of slider, not using background color. every time user change image (scrolled), background change and show that image behind the image as background and blur it, how could i do that?

[2019-01-11 15:44] Asalem1 commented on #55
thanks, I'll take a look at this

[2019-01-11 15:47] Asalem1 commented on #53
@wzard sorry, none so far. Just had a baby girl and haven't 19 days ago so i'm a little behind. I'll take a look at it soon

[2019-01-12 12:01] wzard commented on #53
@Asalem1 Oh. Congratulations Asalem1. :) Take your time. Your baby needs you more than random internet strangers.

[2019-01-18 15:53] Shailth opened #57 "Css Customization & Support"
Hi Folks,

I would say tremendous effort to bring up such a fine and precise work.
For sure a re-usable and easy to implement component.
Would request the team to provide help on the following enhancements:
1) The parameter/prop list supplied to CoverFlow to hold custom updates to css like background color/fonts/etc.
2) Have navigation buttons on the sides rather than bottom(other related customiz

[2019-01-24 12:39] Shailth commented on #57
Hi Asalem,
i have done some work in this direction, would like to contribute if you allow.
Also, i have some ideas further to enrich CoverFlow, if you please to discuss, at your convenience.

<img width="1156" alt="screen shot 2019-01-24 at 12 34 57 pm" src="https://user-images.githubusercontent.com/13822096/51678520-81a34700-1fd4-11e9-8bee-05823900c511.png">

[2019-01-26 20:03] Asalem1 commented on #53
Thanks for the patience and for the well wishes. Just cleaned up webpack a bit, it's still higher than I'd like it to be so I'll keep this open but know that this is a serious concern that I'm currently address (along with the other issues). Thanks again for the support and patience

[2019-01-28 18:07] Asalem1 commented on #56
Hey @Eesssn , I'm not quite sure what you're looking to do. Would you mind clarifying your issue?

[2019-01-28 18:08] Asalem1 commented on #57
@Shailth that sounds great! I'm definitely open to checking out PRs and working together to implement some of the changes you're looking to make

[2019-02-14 13:58] Eesssn commented on #56
<img width="684" alt="capture" src="https://user-images.githubusercontent.com/32749582/52791176-9a57c780-307d-11e9-935a-a1749a4c3159.PNG">
i want to change that grey background behind images, with active image that is in front of images.
i don't want to show grey background instead of that show active image and change background with changing active image.

[2019-02-14 13:59] Eesssn commented on #56
/\
can u help for that  ||

[2019-02-15 06:43] stephyswe opened #58 "Reflective shadow under images"
I looked back in issues and couldn’t find this one.

Is there any way to add reflection under images?

[2019-02-25 18:26] Asalem1 commented on #58
Hey @stephyswe , that had been an original feature of the plugin, however it was being applied with a CSS style that wasn't stable, so it was replaced by a shadow. I haven't been as up-to-date with CSS lately so I haven't checked to see if it's been reincorporated and is supported. If it is I will return it to the plugin

[2019-02-25 18:26] #58 closed

[2019-03-01 20:52] revgum commented on #45
This bug still exists in 0.2.18 `master` as of today. I removed the line and everything works fine otherwise. FWIW, here is my basic structure of the items in the coverflow

[code]

[2019-03-07 05:44] DanielRuf opened #61 "Missing repository field in package.json"
The `repository` field is missing.

[2019-03-09 14:24] Asalem1 commented on #45
@revgum thanks for the PR! Looks great

[2019-03-09 14:28] Asalem1 commented on #61
Thanks @DanielRuf , I'll get this out on the next release

[2019-03-09 14:28] #61 closed

[2019-03-09 15:10] Asalem1 commented on #56
Aw, I think I understand what you're saying. I can see about integrating that as a future feature

[2019-03-09 16:17] Asalem1 commented on #55
Fixed with https://github.com/andyyou/react-coverflow/commit/cfd5311b00ceb61dcafd1e843ae56f1bb0d5458a

[2019-03-09 16:17] #55 closed

[2019-03-09 16:49] Asalem1 commented on #53
Alright, final update on this ticket. The published size has been reduced a bit, but it seems like the main culprit in the large dependency size is the `radium` dependency. My intent is to remove the dependency and see if I can replicate its functionality without losing performance. I'm going to leave this issue open until then.

[2019-03-18 16:18] #56 closed

[2019-03-24 13:09] nojaf commented on #57
Hello, any update on this? I would like to customize the background of the container and the colours of the alt text. Pretty clueless about how to proceed here.

[2019-03-25 14:08] Asalem1 commented on #57
Hi @nojaf , I still haven't heard back from @Shailth about implementing this feature. If you'd like to send a PR and contribute to the project you're more than welcome to make additions

[2019-03-25 15:20] nojaf commented on #57
Hi @Asalem1 , I currently have a version where I skip the entire Radium thing. Modifying the scss file directly better fitted my workflow. Would that be an option as well?

[2019-03-28 22:16] Asalem1 commented on #57
@nojaf , definitely. I mentioned in #53 that I'm looking to remove the project's dependency on Radium so that would be great!

[2019-04-01 06:26] stephyswe commented on #58
The manage it on Android (Java) might be able to add it to JS as well? https://stackoverflow.com/questions/19173900/android-cover-flow-with-image-shadow-effect

code part:
public Bitmap getRefelection(Bitmap image) {
      // The gap we want between the reflection and the original image
      final int reflectionGap = 0;

      // Get you bit map from drawable folder
      Bitmap originalImage = i

[2019-04-12 02:51] mingyuan-xia opened #63 "Placeholder+renderImage design for lots of images"
Hi, nice work. Basically I am using the coverflow to show all images in a local folder (with Electron).
Sometimes I can get over 1k to 20k images, which eats a lot of memory because every one of them is rendered as an `img` and starts loading once the coverflow is created.
Since we have the nice `displayQuantityOfSide` property, is there a way to lazily call a method `renderImage` once an item sho

[2019-04-13 13:40] Asalem1 commented on #63
@mingyuan-xia that's a great question. I can see about creating a future iteration of that in the project as it sounds like something that could be useful and fun to implement

[2019-04-19 09:57] bassman2112 opened #65 "enableHeading depending on media"
Hi there,

I was curious if there is currently a way to have `enableHeading={true}` with `max-width:900px`, but false < 900px.

Thank you so much for the awesome tool!!!

[2019-05-01 22:09] Asalem1 commented on #65
Unfortunately the current repo does not support that functionality, but I imagine that it would be possible to integrate a listener onto your project that listens to the window size and conditionally renders the `enableHeading` based on whether the width is > 900px.

[2019-05-01 22:09] #65 closed

[2019-05-14 06:20] shayanpaul91 commented on #39
i am facing the same issue... can you please help me on that

[2019-05-25 13:12] #51 closed

[2019-06-13 11:00] Tapudp opened #66 "react-coverflow with Next.js and react.js `window is not defined`"
The project has been setup with React.js and Next.js for server-side-rendering maybe this is something related to SSR being an annoyance to the component to render.

Whenever I add the react-coverflow as give in the [example here](http://andyyou.github.io/react-coverflow/) but it just shows the following error:

[code]

I tried the solution from this issue discussion: https://github.com/andyyou/re

[2019-06-13 11:42] shayanpaul91 commented on #66
Ok

On Thu, 13 Jun 2019, 4:30 pm Divyesh Parmar, <notifications@github.com>
wrote:

[2019-06-14 14:27] Asalem1 commented on #66
@Tapudp do you happen to have a code snippet where I could see how you're using react-coverflow? I've been bogged down at work lately and have been trying to reduce the dependency size so this issue might take a little bit to resolve. One option that might help with the SSR problem would be to conditionally render the component once the component has been mounted:

[code]

Let me know if that work

[2019-06-19 18:08] Tapudp commented on #66
@Asalem1 yeah I guess it is because of the SSR not being able to find the source to it, but I have kind of found an work around to it, instead of importing I will do a `require` that also only when we have `window` object available. My code snippet:

[code]

and then also don't forget to use the Carousel with a conditional otherwise it will give error similar to below:

[code]

for which I found t

[2019-08-01 11:36] martellapetesso opened #67 "Right & Left Arrow disappear"
Hi everybody, i have an issue with the left and right arrows. With three images, I have the arrows in the centered image. With four images, it works perfect and with more than four images, the arrows are disappeared.

Code:

*.jsx
[code]

*.scss

[code]
4 Images:
<img width="1033" alt="Screenshot 2019-08-01 at 13 29 08" src="https://user-images.githubusercontent.com/48688668/62290000-83a50180-b460

[2019-08-02 13:27] siavash-ramezani opened #68 "Hi Asalem,"
Hi Asalem,
i have done some work in this direction, would like to contribute if you allow.
Also, i have some ideas further to enrich CoverFlow, if you please to discuss, at your convenience.

<img width="1156" alt="screen shot 2019-01-24 at 12 34 57 pm" src="https://user-images.githubusercontent.com/13822096/51678520-81a34700-1fd4-11e9-8bee-05823900c511.png">

_Originally posted by @Shailth in htt

[2019-08-15 17:54] BrandonEscamilla opened #69 "I am trying to use active props but is not working"
When I try to use active props it doesn't works.

<img width="584" alt="Captura de Pantalla 2019-08-15 a la(s) 12 49 32" src="https://user-images.githubusercontent.com/21966716/63114776-4316af00-bf5b-11e9-85b6-6d7386fef9b3.png">
I've changed the number in active but it always focus the same one

[2019-08-17 13:47] ladislavjacho commented on #69
+1

[2019-08-17 14:26] BrandonEscamilla commented on #69
I already discover how to use it, you just need to use a function to change the active number.

[2019-08-17 14:31] ladislavjacho commented on #69
@BrandonEscamilla can you share ur code pls

[2019-08-17 14:59] BrandonEscamilla commented on #69
Yeah for sure @ladislavjacho, in my case - after I select one component I wanted to save the state in order to show the same one once you come back. First of all, when the user clicks the image I save the selection in redux, once the user come back I get the data from the store and save it in the state. It wont work if you just use the data from the store or from the state, it appears that Coverfl

[2019-08-17 15:34] ladislavjacho commented on #69
IMHO it is not a good approach because if you don’t pass an array into the useEffect Hook, your component will continuously reload repeatedly. Try to fix that in another way - if you pass an empty array it will only update state on the first render, exactly like componentDidMount.

`useEffect( () => { _handleState() }, [] );`

It should work as well.
Btw I wanted to achieve the same thing.

[2019-08-17 15:42] BrandonEscamilla commented on #69
Yeah, I forgot to pass an array, thank you for the recommendation :)

[2019-08-17 15:57] ladislavjacho commented on #69
You are welcome. Planets with animated carousel and reflection below gonna look great, gl!

[2019-08-17 16:34] BrandonEscamilla commented on #69
I agree! they look really great  🚀

<img width="1421" alt="Captura de Pantalla 2019-08-17 a la(s) 11 29 50" src="https://user-images.githubusercontent.com/21966716/63214798-7b94c500-c0e2-11e9-94c4-0807235a9410.png">

[2019-09-05 16:39] Asalem1 commented on #68
@siavash-ramezani , sorry for the delay. I'd be happy to check any PRs you send. In terms of getting your functionality to work on the current implementation of react-coverflow, I'd have to know exactly what you're looking to do.

[2019-09-05 16:41] Asalem1 commented on #69
Hey, sorry for the delay you two. Is this still active? Would anyone like to send up a PR with a fix if one was needed? I've been really swamped with work and would be happy to review a PR

[2019-09-05 16:42] Asalem1 commented on #67
@martellapetesso, thanks for bringing this to my attention. I'll try and get a PR up ASAP to fix this.

[2019-09-18 10:33] davitmargaryan commented on #69
Hi @Asalem1 , the issue is still present, please have a look at [fix](https://github.com/andyyou/react-coverflow/pull/71).

[2019-10-05 18:55] adrihle opened #72 "Get items index on focus"
Hey there

Anyone know how can i get the index of the current item showed and store it on a state?

thanks

[2019-10-06 08:24] adrihle commented on #69
Look super bro, how did u for remove the items background, im trying to do something similar of u, but when i assing a png image wihout background, just appear a shadow box making a background, and someone know how to get the position on scroll up the carousel?

[2019-10-21 09:30] Snorvarg opened #73 "Mouse wheel scrolling produces a warning in chrome."
Hi!
Great package, works out of the box.

However, when scrolling with the mouse scroll wheel, chrome is producing this error
react-dom.development.js?61bb:1553 [Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive. See https://www.chromestatus.com/features/6662647093133312

The scrolling keeps working though. Anything serious?

[2019-10-21 09:46] Snorvarg commented on #72
Hi,
I am looking at the same thing. The this.state.current keep track of the current item active, but I have not found a way to get it out from the component. (react beginner) :)

It would be nice to have some sort of callback for this?

[2019-10-24 22:13] #69 closed

[2019-10-24 22:15] Asalem1 commented on #72
Hey there, an example of this exists on the following site in the `randomize` button section

[2019-10-24 22:15] #72 closed

[2019-10-28 11:00] Snorvarg commented on #72
Asalem1, the example you provide show how to set current item, but not how to get it. It would be great with a similar code example showing how to get the currently selected image, or better some kind of callback called whenever coverflow change which image is currently shown.

[2019-10-28 11:56] Snorvarg commented on #72
I tried extending the Coverflow class, though run into some problems. Maybe this is not the way to go?

[code]
In an ideal world, I would have a place to call a callback when any mouse wheeling or dragging has happened. But I get the error message "Uncaught TypeError: Cannot read property 'call' of undefined" trying to call super._handleNextFigure(e);

------

I got it working this way:

Overridin

[2019-10-28 23:31] leroyvaughan opened #74 "Requesting for this change in _handleFigureClick"
I don't like the fact that clicking an image opens the URL in a new window.  I'm not sure how to create my own NPM package using yours and don't have the time to remove any reference to you in the module and replace it with reference to me.

### I tried to override it using my own module class, but it's not working:
**_newMod.jsx_**
`
  import newMod from 'react-coverflow';

  delete newMod["_hand

[2019-11-13 16:45] lucasluca opened #75 "active prop is not working"
When i insert an active number the coverflow does not respond
![image](https://user-images.githubusercontent.com/16627838/68784773-dd9a9300-061b-11ea-8d52-8a9e4ca68fe8.png)

[2019-12-03 15:10] PiyushVinayarajan commented on #67
Same here:(

[2019-12-20 00:55] keerpawan commented on #75
I have the same issue

[2019-12-30 18:00] shemolior opened #76 "can anyone please share - how can i change the background of the coverflow"
the default is light grey, i want it to be transparent

appreciate your assistance

[2020-01-03 11:08] abishek28007 commented on #76
Hey @shemolior  I created a PR for this https://github.com/andyyou/react-coverflow/pull/77

[2020-01-03 16:24] abishek28007 commented on #76
@shemolior I think someone needs to merge the pr

[2020-01-06 18:00] Asalem1 opened #78 "Change Ownership"
Unfortunately, I am no longer able to support this project due to family and work commitments. If anyone would like to take ownership, please reach out to @andyyou to pass along ownership of the project to.

[2020-01-07 01:29] andyyou commented on #78
Thanks @Asalem1

[2020-01-16 15:33] will0225 commented on #66
Hi, TapuDp.
I am getting error when i try to make cover-flower slider in my project.
Below show error screenshot.

Coverflow.js?2a0d:35 Uncaught TypeError: (0 , _react.createRef) is not a function
    at RadiumEnhancer.Coverflow (Coverflow.js?2a0d:35)
    at RadiumEnhancer.Coverflow (enhancer.js?f2be:322)
    at new Coverflow (enhancer.js?f2be:111)
    at ReactCompositeComponent.js:294
    at meas

[2020-01-21 09:29] zeppelin32 commented on #43
thanks, it helps

[2020-02-13 16:27] ludem opened #81 "Way to know the current selected image"
I'm wondering what's the way to know what image is current selected, i.e. image in the middle of the flow. Is it possible to add a method to handle selected image change?

Thank you

[2020-05-05 21:34] KTrentLR commented on #81
I agree.  I am using this as a means to go through cards in a players hand, I would like to know what the card is they have in focus.

[2020-05-05 21:43] KTrentLR commented on #75
Same issue

[2020-06-07 14:15] parisac commented on #75
Same here

[2020-06-24 13:14] kushnirsv opened #84 "Change direction"
How I can change direction for carousel from horizontal to vertical ? Is it possible ?

[2020-06-28 07:34] fybchristasker opened #85 "TypeError: Cannot read property 'offsetWidth' of null"
when changing browser window size，I got this error.
<img width="439" alt="截屏2020-06-28下午3 33 41" src="https://user-images.githubusercontent.com/46596982/85941314-c4e5b000-b954-11ea-9b9c-84ecc4fbc777.png">

[2020-07-07 18:08] TheAngryBirdd commented on #66
const Coverflow = dynamic(
  () => import ('react-coverflow'),
  {
  ssr: false
  }
  )

use this to disable server side rendering to avoid window issue

[2020-08-05 20:34] Asalem1 commented on #84
@kushnirsv it currently isn't possible but if you're interested in integrating some new features, this is an OS repo that is looking for a new maintainer

[2020-08-05 20:34] #84 closed

[2020-08-06 05:54] abishek28007 commented on #76
@shemolior the pr is merged, not sure if it is still relevant

[2020-09-02 07:50] TheAngryBirdd opened #93 "Page opens in a new tab"
When passing a URL to data-action, it is always opening the page in a new tab as it was given "_blank" inside the code. I don't want to open multiple tabs everytime user picks an item from he carousel. Could you please help me fix this?

[2020-10-21 15:50] Morozzko opened #96 "react-coverflow dont work with SSR Next.JS"
ReferenceError: window is not defined

This error happened while generating the page. Any console logs will be displayed in the terminal window.
Call Stack
Object.<anonymous>
file:///C:/Users/2/WebstormProjects/node_modules/react-coverflow/dist/react-coverflow.js (1:266)

[2020-11-17 00:46] fybchristasker commented on #96
it works with next/dynamic

[2020-11-24 15:00] luisrabock commented on #96
import dynamic from 'next/dynamic'
const DynamicCoverflow = dynamic(
  () => import('react-coverflow'),
  { ssr: false }
)

[2020-12-09 09:50] #96 closed

[2020-12-15 12:50] IvonaPilcevic opened #97 "ReferenceError: window is not defined"

[2021-01-10 13:32] meirbr commented on #56
Hey, first of all - thank you.
Is it now possible to change the background color?

[2021-01-30 08:32] Trapa-Eureka opened #98 "how can i make custom??"
`<Coverflow width={960}  height={480} displayQuantityOfSide={2} navigation={false} enableHeading={false}>
    <div onClick={() => fn()} onKeyDown={() => fn()} role="menuitem" tabIndex="0">
      <img src='[image/path/please_change]' alt='title or description' style={{ display: 'block', width: '100%' }}/>
    </div>
    <img src='[image/path/please_change]' alt='title or description' data-action="h

[2021-02-25 17:08] exitroute commented on #85
Hey @fybchristasker,

Did manage to fix that?

I'm using it with Next but I get a similar error at:

`    let state = {
      width: this.refNode.current.offsetWidth,
      height: this.refNode.current.offsetHeight,
    };`

[2021-03-14 05:55] dbflakes commented on #75
Same issue.
Is there a fix?

[2021-05-26 23:39] nnguyen52 opened #105 "How can i start displaying from beginning of images array. It seems displaying from the middle of my arr"
i have images arr like 500 imgs, rating from 100 to 80 (desc). Somehow it show at rating 88. Can you suggest ?

by the way, very great npm!!! it hope it grows more < 3

[2021-07-03 13:43] rishabhverma-spec opened #106 "weird div at the bottom of the div the images"
even after i have placed the images in place , I get this weird div with text , how should I remove it

[2021-07-03 14:30] #106 closed

[2021-11-22 11:03] sai-charan-au7 commented on #85
Hey @fybchristasker and @exitroute i have also got the same issue i tried to solve using useRef hook and pass that to the coverflow component ex: `const coverflowRef = useRef(null) ` and in props `ref={coverflowRef}`

[2021-12-15 17:35] MonkeyDo commented on #67
Had the same issue, and I managed to change their placement with some CSS fuzzy matching:

[code]

Be aware that you might need to play with these values to suit your needs.

[2022-03-24 09:44] Major-Eth commented on #66
Indeed, dynamic is the right way to go

[code]

[2022-10-07 07:51] Rohitchaudhary13 opened #118 "Add better images"
We can add some much better-looking images in the coverflow to enhance the overall look.

[2022-10-14 10:55] #118 closed